.crear_encuesta {
    background-color: var(--greenColor);
    border: solid 1px var(--greenColor);
    color: var(--whiteColor);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-out;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.crear_encuesta:hover {
    cursor: pointer;
    background-color: #23a3a1;
    border-color: #23a3a1;
}

.title_survey_dashboard {
    margin: 0;
}